.container{position: absolute; width:100%; margin-left: auto; margin-right:auto; }

.heading{color: whitesmoke; position:absolute; top: 0%; width:100%; text-align: center; font-size: 50px; font-family: Comic Sans MS;}